<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>About</title>
</head>

<body>
<h1>About Rango</h1>
<div>
    <div>
        Read Tango with Django! <br/>
        <a href="https://moodle.gla.ac.uk/pluginfile.php/4815085/mod_resource/content/1/twd-uog-lib-2021-01-07.pdf">Django </a>
        <div>
            <a href="/rango">Index </a>
        </div>

        <div>
            This tutorial has been put together by Farzwan
        </div>
    </div>


    <div>

        <img src="/media/cat.jpeg"
            alt=" cat" />
        <img src="{% static 'images/rango.jpg' %}"
            alt="Picture of Rango" /> <!-- New line -->


        <div>
        </div>

</body>

</html>